body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5e/Blumenwiese_bei_Obermaiselstein05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    color: gainsboro;
}

.form-control-file {
    color: gainsboro;
}